// * {
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
// }

// @font-face {
//     font-family: "Milligram";
//     src: url("../assets/fonts/Milligram-Thin-trial.ttf");
//     font-family: "Swanstone";
//     src: url("../assets/fonts/Swanstone-Regular-trial.ttf");
// }

// @keyframes moverBoton {
//     0% {
//         background-color: #008000;
//         bottom: 1em;
//         right: 1em;
//     }
//     25% {
//         background-image: radial-gradient(#f25e3d, #8c402e, #404040);
//         bottom: 1.5em;
//         right: 1.5em;
//     }
//     50% {
//         bottom: 2em;
//         right: 2em;
//     }
//     75% {
//         bottom: 2.5em;
//         right: 2.5em;
//     }
//     100% {
//         bottom: 3em;
//         right: 3em;
//     }
// }
// .btn-wsp {
//     width: 4em;
//     height: 4em;
//     position: fixed;
//     bottom: 0;
//     right: 0;
//     border-radius: 3em;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     animation-name: moverBoton;
//     animation-duration: 3s;
//     animation-delay: 0.5s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
// }

// header {
//     grid-area: header;
//     background-color: #000000;
//     display: flex;
//     flex-direction: row;
//     a {
//         img {
//             width: 113px;
//             margin-left: 0, 5em;
//         }
//     }
//     nav {
//         display: flex;
//         flex-direction: row;
//         justify-content: right;
//         width: 100%;
//         background-color: #000000;
//         ul {
//             display: flex;
//             flex-direction: row;
//             justify-content: space space-around;
//             align-items: center;
//             li {
//                 display: inline;
//                 font-family: "Courier New", Courier, monospace;
//                 margin: 10px;
//                 width: 7em;
//                 a {
//                     text-decoration: none;
//                     color: #ffffff;
//                 }
//             }
//         }
//     }
// }

// footer {
//     background-color: tomato;
//     height: auto;
//     padding: 10rem 0 10rem 0;
//     //background-color: #ffffff;//
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     .enlaces {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//         align-items: center;
//         padding: 2em;
//         .links {
//             height: 30%;
//             width: 15%;
//             margin: 0.5em;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-around;
//             align-items: center;
//             padding: 0.5em;
//             h2 {
//                 color: black;
//             }
//             nav {
//                 ul {
//                     li {
//                         list-style-type: none;
//                         margin-bottom: 1em;
//                         a {
//                             text-decoration: none;
//                             font-size: 0.9em;
//                             font-family: Verdana, Geneva, Tahoma, sans-serif;
//                             color: #000000;
//                         }
//                     }
//                 }
//             }
//         }
//         .redes {
//             height: 260px;
//             width: 25%;
//             margin: 0.5em;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             h2 {
//                 nav {
//                     ul {
//                         li {
//                             list-style-type: none;
//                             margin-bottom: 1em;
//                             a {
//                                 text-decoration: none;
//                                 font-size: 0.9em;
//                                 font-family: Verdana, Geneva, Tahoma, sans-serif;
//                                 color: #000000;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .informacion {
//             height: 260px;
//             width: 35%;
//             margin: 0.5em;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             h2 {
//                 nav {
//                     ul {
//                         li {
//                             text-decoration: none;
//                             list-style-type: none;
//                             margin-bottom: 1em;
//                             a {
//                                 font-size: 0.9em;
//                                 font-family: Verdana, Geneva, Tahoma, sans-serif;
//                                 color: #000000;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .copyright {
//             h3 {
//                 color: #000000;
//             }
//             p {
//                 font-family: "Roboto", sans-serif;
//                 font-weight: 700;
//                 line-height: 1.5;
//             }
//         }
//     }
// }

// /* INICIO */

// .gridIndex {
//     background-color: pink;
//     // display: grid;
//     // grid-template-columns: repeat(3, 1fr);
//     // grid-template-rows: repeat(3, autofill);
//     // grid-template-areas:
//     // "header header header"
//     // "main   main   main"
//     // "footer footer footer";
//     main {
//         grid-area: main;
//         .title-index {
//             h1 {
//                 color: #ffffff;
//                 font-size: 3em;
//                 margin: 1em;
//             }
//         }
//         div {
//             p {
//                 font-family: "Roboto", sans-serif;
//                 font-weight: 700;
//                 line-height: 1.5;
//             }
//             a {
//                 text-transform: uppercase;
//             }
//         }
//         .section-em {
//             font-size: 1em;
//             h2 {
//                 text-decoration: underline;
//                 font-style: italic;
//             }
//             p {
//                 font-family: "Roboto", sans-serif;
//                 font-weight: 700;
//                 line-height: 1.5;
//             }
//             div {
//                 img {
//                     width: 100%;
//                 }
//             }
//         }
//         .boton {
//             display: none;
//             .btn-wsp {
//                 width: 4em;
//                 height: 4em;
//                 position: fixed;
//                 bottom: 0;
//                 right: 0;
//                 border-radius: 3em;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 animation-name: moverBoton;
//                 animation-duration: 3s;
//                 animation-delay: 0.5s;
//                 animation-timing-function: linear;
//                 animation-iteration-count: infinite;
//             }
//         }
//     }
// }

// /* ACTIVIDADES */

// .parallax {
//     background-image: url("../assets/img/verde.png");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
//     height: 85vh;
//     section {
//         .title-index1 {
//             color: red;
//             font-size: 2.5em;
//             margin: 1em;
//             text-align: center;
//         }
//         p {
//             font-family: "Roboto", sans-serif;
//             font-weight: 700;
//             line-height: 1.5;
//         }
//         .articulo3 {
//             width: 70em;
//             background-color: #add8e6;
//             height: 50em;
//             padding: 1em 1.5em;
//             margin: 0.5em 0.7em 1em 0.7em;
//             border: groove 0.2em #ff7f50;
//             border-radius: 1em;
//         }
//         .articulo3 {
//             width: 70em;
//             background-color: #add8e6;
//             height: 50em;
//             padding: 1em 1.5em;
//             margin: 0.5em 0.7em 1em 0.7em;
//             border: groove 0.2em #ff7f50;
//             border-radius: 1em;
//         }
//         .boton {
//             display: none;
//             .btn-wsp {
//                 width: 4em;
//                 height: 4em;
//                 position: fixed;
//                 bottom: 0;
//                 right: 0;
//                 border-radius: 3em;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 animation-name: moverBoton;
//                 animation-duration: 3s;
//                 animation-delay: 0.5s;
//                 animation-timing-function: linear;
//                 animation-iteration-count: infinite;
//             }
//         }
//     }
// }

// /* CONTACTO */

// .parallax2 {
//     background-image: url("../assets/img/rosa.png");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
//     height: 85vh;
//     main {
//         .titulo {
//             display: flex;
//             flex-direction: column;
//             text-align: center;
//             margin: 2em;
//             .title-index4 {
//                 color: #008000;
//                 font-size: 2.5em;
//             }
//             p {
//                 font-family: "Roboto", sans-serif;
//                 font-weight: 700;
//                 line-height: 1.5;
//             }
//             .articulo1 {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 margin-top: 2em;
//             }
//             mapa {
//                 width: 35em;
//                 .mapa h2 {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     text-align: center;
//                     margin: 1em;
//                 }
//             }
//             .boton {
//                 display: none;
//                 .btn-wsp {
//                     width: 4em;
//                     height: 4em;
//                     position: fixed;
//                     bottom: 0;
//                     right: 0;
//                     border-radius: 3em;
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;
//                     align-items: center;
//                     animation-name: moverBoton;
//                     animation-duration: 3s;
//                     animation-delay: 0.5s;
//                     animation-timing-function: linear;
//                     animation-iteration-count: infinite;
//                 }
//             }
//         }
//     }
// }

// /* MISION */

// .parallax1 {
//     background-image: url("../assets/img/amarillo.jpeg");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
//     height: 85vh;
//     main {
//         .title-index3 {
//             color: #8b008b;
//             font-size: 2.5em;
//             margin: 1em;
//         }
//         .articulo5 {
//             width: 15em;
//             background-color: #ffa500;
//             height: 13em;
//             padding: 1em 1.5em;
//             margin: 0.5em 0.7em 1em 0.7em;
//             border: groove 0.2em #ffffff;
//             border-radius: 1em;
//         }
//         .boton {
//             display: none;
//             .btn-wsp {
//                 width: 4em;
//                 height: 4em;
//                 position: fixed;
//                 bottom: 0;
//                 right: 0;
//                 border-radius: 3em;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 animation-name: moverBoton;
//                 animation-duration: 3s;
//                 animation-delay: 0.5s;
//                 animation-timing-function: linear;
//                 animation-iteration-count: infinite;
//             }
//         }
//     }
// }

// /* PREGUNTAS FRECUENTES */

// .parallax3 {
//     background-image: url("../assets/img/naranja.png");
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     background-attachment: fixed;
//     height: 85vh;
//     main {
//         .title-index2 {
//             color: #0000ff;
//             font-size: 2.5em;
//             margin: 1em;
//         }
//         .seccion-faq {
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//             .articulo {
//                 width: 20em;
//                 background-color: #ffc0cb;
//                 height: 18em;
//                 padding: 1em 1.5em;
//                 margin: 0.5em 0.7em 1em 0.7em;
//                 border: groove 0.2em #0000ff;
//                 border-radius: 1em;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 .articulo__titulo {
//                     color: #ffffff;
//                     font-size: 1.5em;
//                 }
//             }
//         }
//         .articulo {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             .articulo__titulo {
//                 color: #ffffff;
//                 font-size: 1.5em;
//             }
//         }
//         .articulo {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             .articulo__titulo {
//                 color: #ffffff;
//                 font-size: 1.5em;
//             }
//         }
//         .articulo {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             .articulo__titulo {
//                 color: #ffffff;
//                 font-size: 1.5em;
//             }
//         }
//         .articulo {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             .articulo__titulo {
//                 color: #ffffff;
//                 font-size: 1.5em;
//                 ul {
//                     li {
//                         .articulo__boton {
//                             color: #ff0000;
//                             text-decoration: underline;
//                             font-style: oblique;
//                         }
//                     }
//                 }
//             }
//         }
//         .boton {
//             display: none;
//             .btn-wsp {
//                 width: 4em;
//                 height: 4em;
//                 position: fixed;
//                 bottom: 0;
//                 right: 0;
//                 border-radius: 3em;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 animation-name: moverBoton;
//                 animation-duration: 3s;
//                 animation-delay: 0.5s;
//                 animation-timing-function: linear;
//                 animation-iteration-count: infinite;
//             }
//         }
//     }
// }

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
//     .gridIndex {
//         background-color: tomato;
//         grid-template-columns: 1fr 1fr;
//         gap: 10px;
//     }
// }

// @media only screen and (min-width: 768px) and (max-width: 1024px) {
// }

// .hola {
//     background-color: #0000ff;
//     height: 100vh;
// }

// @media only screen and (min-width: 320px) and (max-width: 768px) {
//     .footer {
//         background-color: white;
//         display: flex;
//     }
// }

// @keyframes moverBoton {
//     0% {
//         background-color: #008000;
//         bottom: 1em;
//         right: 1em;
//     }
//     25% {
//         background-image: radial-gradient(#f25e3d, #8c402e, #404040);
//         bottom: 1.5em;
//         right: 1.5em;
//     }
//     50% {
//         bottom: 2em;
//         right: 2em;
//     }
//     75% {
//         bottom: 2.5em;
//         right: 2.5em;
//     }
//     100% {
//         bottom: 3em;
//         right: 3em;
//     }
// }
// .btn-wsp {
//     width: 4em;
//     height: 4em;
//     position: fixed;
//     bottom: 0;
//     right: 0;
//     border-radius: 3em;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     animation-name: moverBoton;
//     animation-duration: 3s;
//     animation-delay: 0.5s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroImage {
    height: 100vh;
    background-image: url("../assets/img/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .heroContent {
        height: 100% !important;
        color: #fff;
        display: flex;
        justify-content: center !important;
        flex-direction: column;
        h1 {
            font-size: 4rem;
        }
        p {
            font-size: 1rem;
            margin: 0.5rem 0 2rem 0;
        }
        .heroBtn {
            a {
                padding: 15px 30px;
                text-decoration: none;
                color: #fff;
                background-color: #e10f60;
                border-radius: 5px;
            }
        }
    }
}
.conocenos {
    height: auto;
    padding: 5rem 0 5rem 0;
    .conocenosText {
        text-align: center;
    }
    .divImgConocenos {
        text-align: center;
        .imgConocenos {
            width: 300px;
            margin: auto auto;
            border-radius: 5px;
        }
    }
}
.page-footer {
    color: #fff;
    background-color: #000;
}
.actividades {
    background-color: #e10f60;
    height: auto;
    padding: 5rem 0 5rem 0;
}

.articulo1 {
    background-color: #e10f60;
    color: black
}

.parallax {
    background-color: lightblue;
}

.parallax49 {
    background-color:#e10f60;
    color: white;
}

.parallax50 {
    background-color: #e10f60;
    color: lightblue;
}

.parallax51 {
    background-color: #e10f60;
    color: #000;
}

.mision {
    text-align: center;
}